@import '~react-pro-sidebar/dist/scss/styles.scss';

#header {
  position: absolute;
  width: 220px;

  .pro-sidebar {
    height: 100vh;
  }
  .closemenu {
    position: absolute;
    right: 0;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 55px;
    cursor: pointer;
  }
  .pro-sidebar {
    width: 100%;
    min-width: 100%;
  }
  .pro-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
  }
}

